@{
    ViewData["Title"] = "self-built adrilight Version!";
}
<h1>self-built adrilight Version!</h1>
<p>
    You are running a self-build adrilight version.
</p>
<p class="important">
    If this was not your intention, you should go to <a href="https://github.com/fabsenet/adrilight/">the official adrilight github page</a> and download the latest official release from there!
</p>

<p>
    If this was your intention: welcome! adrilight is open-source, please adhere to the MIT license. Automatic updating is disabled in private builds. You are expected to update your adrilight yourself (via code or binaries...)
</p>
<p>
    Please speak up in <a href="https://github.com/fabsenet/adrilight/issues">Issues</a> or <a href="https://github.com/fabsenet/adrilight/pulls">Pull Requests</a> to make valuable contribution to adrilight like fixing errors or adding valuable features!
</p>
