@{
    ViewData["Title"] = "Selbst-erstellte adrilight Version!";
}
<h1>Selbst-erstellte adrilight Version!</h1>
<p>
    Du betreibst eine selbst erstellte adrilight Version.
</p>
<p class="important">
    Falls das nicht deine Absicht war, solltest du <a href="https://github.com/fabsenet/adrilight/">die offizielle adrilight github Seite</a> aufrufen und den aktuellen offiziellen adrilight Release von dort laden!
</p>

<p>
    Falls es deine Absicht ist, sei gegrüßt! adrilight ist open-source, bitte halte die MIT Lizenz ein. Das automatische Updaten ist nicht aktiv in privaten builds, du musst selbstständig Aktualisierungen durchführen (code oder exe...)
</p>
<p>
    Bitte lass von dir hören via <a href="https://github.com/fabsenet/adrilight/issues">Issues</a> oder <a href="https://github.com/fabsenet/adrilight/pulls">Pull Requests</a>, wenn du Fehler behebst oder Funktionen hinzufügst!
</p>
