@{
    ViewData["Title"] = "Unbekannte Adrilight Version!";
}
<h1>Unbekannte Adrilight Version!</h1>
<p>
    Diese adrilight version ist nicht bekannt, dass kann verschiedene Gründe haben:
    <ul>
        <li>Du hast eine eigene adrilight version erstellt.</li>
        <li>???</li>
        <li>Der Entwickler von adrilight hat was verhauen.</li>
    </ul>
</p>
<p>
    Du solltest <a href="https://github.com/fabsenet/adrilight/">die offizielle adrilight github Seite</a> aufrufen und den aktuellen offiziellen adrilight release von dort laden!
</p>
