@{
    ViewData["Title"] = "Unknown adrilight version!";
}
<h1>Unknown adrilight version!</h1>
<p>
    The version you are running does not exist, this may have many reasons!
    <ul>
        <li>You are running a self compiled version.</li>
        <li>???</li>
        <li>The author of adrilight did mess it up.</li>
    </ul>
</p>
<p>
    You should go to <a href="https://github.com/fabsenet/adrilight/">the adrilight github page</a> and download the latest official release!
</p>
