@{
    ViewData["Title"] = "Releaseinformationen zu Version " + ViewBag.Version;
}
<h1>Releaseinformationen zu Version @ViewBag.Version</h1>
<p>
    Die neuestens Änderungen erklärt hier im Video:
</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/r1CoBSupPjk" frameborder="0" allowfullscreen></iframe>
