@{
    ViewData["Title"] = "Release information for version " + ViewBag.Version;
}
<h1>Release information for version @ViewBag.Version</h1>
<p>
    The newest Changes:
    <ul>
        <li><b>LED strip length for X and Y are now interpreted as everyone expects!</b> Existing settings got migrated to still work by reducing the Y value. You may check if this is correct for your installation.</li>
        <li>It is now possible to enable/disable the color sending via the notifyicon in the system tray.</li>
    </ul>
</p>
<p>
    Bugfixes:
    <ul>
        <li><a href="https://github.com/fabsenet/adrilight/issues/68">#68</a>: The preview of the border distance is fixed.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/71">#71</a>: Detect Windows version and stop adrilight on old unsupported Windows versions.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/75">#75</a>: Text field validation improved.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/84">#84</a>: Fast enable/disable cycle of "enable sending" now just works.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/80">#80</a>: Memory leak on display resolution changes fixed.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/80">#82</a>: Memory leak on standby/resume cycle of Windows <i>maybe</i> fixed.</li>
    </ul>
</p>