@{
    ViewData["Title"] = "Releaseinformationen zu Version " + ViewBag.Version;
}
<h1>Releaseinformationen zu Version @ViewBag.Version</h1>
<p>
    Die neuestens Änderungen:
    <ul>
        <li><b>Längeneingabe der LED Strips für X und Y ist nun, wie man es erwartet!</b> Alte Einstellungen wurden migriert durch Reduktion des Y Wertes. Ggf. sollte man prüfen, ob das bei der eigenen Installation richtig ist!</li>
        <li>Ausgabe kann nun über das Kontextmenü des Notify-Icons ebenfalls gesteuert werden.</li>
    </ul>
</p>
<p>
    Fehlerbereinigungen:
    <ul>
        <li><a href="https://github.com/fabsenet/adrilight/issues/68">#68</a>: Preview zeigt BorderDistance korrekt an.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/71">#71</a>: Windowsversion wird erkannt und auf alten nicht unterstützten Versionen wird nun der Start verweigert.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/75">#75</a>: Textfelder validieren Eingaben (besser).</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/84">#84</a>: Schnelles an/abschalten des "enable sending" Schalter funktioniert jetzt fehlerfrei.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/80">#80</a>: Speicherleck behoben beim Wechsel der Bildschirmauflösung.</li>
        <li><a href="https://github.com/fabsenet/adrilight/issues/80">#82</a>: Speicherleck bei Standby/Resume von Windows <i>möglicherweise</i> behoben.</li>
    </ul>
</p>
