@{
    ViewData["Title"] = "Release information for version " + ViewBag.Version;
}
<h1>Release information for version @ViewBag.Version</h1>
<p>
    See the newest changes in this short video:
</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/qFPdZykjOaU" frameborder="0" allowfullscreen></iframe>
