@{
    ViewData["Title"] = "Releaseinformationen zu Version " + ViewBag.Version;
}
<h1>Releaseinformationen zu Version @ViewBag.Version</h1>
<p>
 Es war mal wieder zeit
</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/EpNgaXRuBTQ" frameborder="0" allowfullscreen></iframe>
