@{
    ViewData["Title"] = "Releaseinformationen zu Version " + ViewBag.Version;
}
<h1>Releaseinformationen zu Version @ViewBag.Version</h1>
<p>
    Die neuestens Änderungen erklärt hier im Video:
</p>
<p class="important">
    Es gibt einen Fehler in Version 2.0.7 im Zusammenhang mit border distance. Die nächste Version wird den beheben, ein Melden ist nicht mehr nötig. <a href="https://github.com/fabsenet/adrilight/issues/68" target="_blank">Mehr Details...</a>
</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/r1CoBSupPjk" frameborder="0" allowfullscreen></iframe>
