@{
    ViewData["Title"] = "Release information for version " + ViewBag.Version;
}
<h1>Release information for version @ViewBag.Version</h1>
<p>
    The newest Changes:
    <ul>
        <li><b>LED strip length for X and Y are now interpreted as everyone expects!</b> Existing settings got migrated to still work by reducing the Y value. You may check if this is correct for your installation.</li>
        <li>It is now possible to enable/disable the color sending via the notifyicon in the system tray.</li>
        <li>The preview of the border distance is fixed.</li>
        <li>Text field validation improved.</li>
    </ul>
</p>