@{
    ViewData["Title"] = "Release information for version " + ViewBag.Version;
}
<h1>Release information for version @ViewBag.Version</h1>
<p>
    See the newest changes in this short video:
</p>
<p class="important">
    There is an error in version 2.0.7 around border distance. There will be a fix coming in the next version, you do not need to report it. <a href="https://github.com/fabsenet/adrilight/issues/68" target="_blank">See existing issue for details...</a>.
</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/qFPdZykjOaU" frameborder="0" allowfullscreen></iframe>
