@{
    ViewData["Title"] = "Release information for version " + ViewBag.Version;
}
<h1>Release information for version @ViewBag.Version</h1>
<p>
It was time again...</p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/EpNgaXRuBTQ" frameborder="0" allowfullscreen></iframe>
