@{
    ViewData["Title"] = "Releaseinformationen zu Version " + ViewBag.Version;
}
<h1>Releaseinformationen zu Version @ViewBag.Version</h1>
<p>
    Die neuestens Änderungen:
    <ul>
        <li>Längeneingabe der LED Strips für X und Y ist nun, wie man es erwartet! Alte Einstellungen wurden migriert durch Reduktion des Y Wertes. Ggf. sollte man prüfen, ob das bei der eigenen Installation richtig ist!</li>
        <li>Ausgabe kann nun über das Kontextmenü des Notify-Icons ebenfalls gesteuert werden.</li>
        <li>Preview zeigt BorderDistance korrekt an.</li>
        <li>Textfelder validieren Eingaben (besser).</li>
    </ul>
</p>
